<h1>Cms#index</h1>

<br>
<%= link_to('Hello page', {:action => 'hello'}) %>
<br>

<%= link_to('Hello with parameters', {:action => 'hello', :page => 5, :id => 20}) %>

<%= link_to('Hello', "#", :onclick => "hello('Javascript'); return true;") %>
